<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tetris by Noe</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>

  <body onload="initialize();">
    <canvas id="canvas" style="border: solid 2px #000000"></canvas>
    <script type="text/javascript" src="../assets/js/main.js"></script>
  </body>

</html>
